@font-face {
  font-family: "Joystix";
  src: local("Joystix"),
    url("../fonts/joystix\ monospace.ttf") format("truetype");
}

@import "header.css";
@import "board.css";
@import "popup.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  line-height: 1.5;
  background-color: black;
  font-family: "Joystix", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 16px;
}
